package main

import (
	"github.com/orq/bartolo/cli"
)

func main() {
	cli.Init(&cli.Config{
		AppName:             "{{ .Name }}",
		EnvPrefix:           "{{ .NameEnv }}",
		DefaultOutputFormat: "{{ .DefaultOutputFormat }}",
		Version:             "1.0.0",
	})

	registerGeneratedCommands()

	cli.Root.Execute()
}
