package main

import (
	custom "{{ .ModulePath }}/cli/custom"
	generated "{{ .ModulePath }}/cli/generated"
	bartolocli "github.com/orq-ai/bartolo/cli"
)

func main() {
	bartolocli.Init(&bartolocli.Config{
		AppName:             "{{ .Name }}",
		EnvPrefix:           "{{ .NameEnv }}",
		APIKeyEnvVar:        "{{ .APIKeyEnvVar }}",
		DefaultOutputFormat: "{{ .DefaultOutputFormat }}",
		Version:             "{{ .AppVersion }}",
	})

	generated.Register(bartolocli.Root)
	custom.Register(bartolocli.Root)

	bartolocli.Root.Execute()
}
